{% extends "base.html" %}
{% block title %}SolarFind.SE{% endblock %}
{% block content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
<div class="searchbox">
 <div class="row">
    <h1 class="header center teal-text text-lighten-2">SolarFind</h1>
        <noscript><p color="black"> <a href="https://solarfind.net/legacy">Haha... In XXI century you haven't JS... Damn it! &nbsp I think, you should use compatible version here</a></p></noscript>
        <div class="row center">
            <span id="typed"></span>
        </div>
    <form action="{{ url_for('.get_search') }}">
    <div class="col s10">
      <div class="row">
        <div class="input-field col s12">
                <input type="text" style="color: #dadada;" id="autocomplete-input" class="autocomplete" name="s">
                <label for="autocomplete-input">Find something here!</label>
        </div>
      </div>
    </div>
    <div class="col s2">
    <button class="btn-floating btn-large waves-effect waves-light red" id="search-button" type="submit"><i class="material-icons">send</i></button>
    </div>
    </form>
  </div>
</div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('.static', filename='img/bc/1.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text" onclick="window.localStorage.clear();"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Fast</h5>

            <p class="light">It will be fast! We are hoping on it...</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Easy to use & beautiful</h5>
            <p class="light">SolarFind have a simple, intuituve design, but it is very beautiful! Everyone likes it</p>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">API</h5>

            <p class="light">We have an API! No captcha or verification!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern search engine based on Python</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('.static', filename='img/bc/2.jpg') }}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">ComingSoon();</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Be aware of bugs! They can eat you!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('.static', filename='img/bc/3.jpg') }}" alt="Unsplashed background img 3"></div>
  </div>



{% endblock %}

{% block requires %}
    <script>
    // Default requirements of main page
    searchbox();
    betalarm();
    styped();

    </script>
{% endblock %}