{% extends "abase.html" %}
{% block title %}SolariumPanel-V1.0{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
        {{ super() }}
        
    
                
                <!--/span-->
                <div class="span9" id="content">
                
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Статистика</div>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span3">
                                    <div class="chart" data-percent="73">73%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Пользователи</span>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="chart" data-percent="53">53%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Просмотры</span>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="chart" data-percent="83">83%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Авторизированные Пользователи</span>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="chart" data-percent="13">13%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Запросы</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                  
            <hr>
            <footer>
                <p>&copy; Solarium Panel. 2018</p>
            </footer>
        </div>
{% endblock %}

</html>