/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: "Nova Slim"; /* имя шрифта для CSS правил */
  src: local("Nova Slim"), /* проверяем наличие шрифта в ОС пользователя */
     url(fonts/NovaSlim.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

.search_element {
    background-color: white; /* Цвет фона под текстом параграфа */
    color: black; /* Цвет текста */
    max-width: 70%;
   }

nav ul a,
nav .brand-logo {
  color: rgb(98, 0, 255);
  font-family: "Nova Slim", fantasy;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #53248f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
